<div style="padding:20px;display: grid;grid-template-columns: 300px 1fr;grid-gap: 20px;">
    <div style="height: calc(100vh - 200px);overflow: scroll;">
        <!-- <video class="sub-video" *ngFor="let subVideo of subVideos">
            <source src="assets/test.mp4" type="video/mp4">
        </video> -->
        <!-- <img src="assets/images/approve.png" style="width: 100%;"  alt="" srcset=""> -->
        <img src="http://localhost:5000/video_feed" style="width: 100%;"  alt="" srcset="">
    </div>
    <div>
        <!-- <img src="assets/images/approve.png" style="height: 80vh;" alt="" srcset=""> -->
        <img src="http://localhost:5000/video_feed" style="height: 80vh;width: 100%;" alt="" srcset="">
        <!-- <video class="main-video">
            <source src="assets/test.mp4" type="video/mp4">
        </video> -->
    </div>
</div>