<mat-toolbar color="primary" style="display: flex;justify-content: space-between;">
    <div>
        <!-- <button mat-icon-button aria-label="Example icon-button with menu icon"> -->
            <!-- <mat-icon (click)="toggleMenu()">menu</mat-icon> -->
        <!-- </button> -->
        <span style="display: flex;justify-content: center;grid-gap: 10px;">
            <img src="assets/images/logo.jpeg" style="width: 30px;" alt="" srcset="">
            <label> Hygeia Eye</label>
        </span>
    </div>
    <div>
        <mat-slide-toggle>Turn Off System</mat-slide-toggle>
    </div>
</mat-toolbar>